:root {
  --main-color: #ffcfa7;
  --white: #ffffff;
}
/* header section  */

.header-font-color {
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Futura";
  color: var(--main-color);
  padding: 40px 80px 0 80px !important;
}

/* main section  */
.main-div {
  font-size: 18px;
  line-height: 26px;
  color: var(--main-color);
  text-transform: capitalize;
  font-family: "Futura";
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

/* about section  */

.about-Heading {
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
  font-family: "Futura-medium";
  margin: 0 0 20px 0;
  font-weight: 400;
  color: #fff;
}

.about-p {
  font-size: 16px;
  line-height: 26px;
  color: #fff;
  margin: 0 0 20px 0;
  font-family: "Futura-light";
}
